For Loop Lab Assigment no 1:

Question No 1:Write a for loop to print all even numbers from 2 to 20.

In [1]:
for i in  range(2,22,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

Question no 2:Create a list of names and use a for loop to print each name in uppercase.

In [10]:
names=["iqra","malaika","laiba"] 
for names in names:
    print(names.upper())

IQRA
MALAIKA
LAIBA

Questino no 3:Use a for loop with range() to print numbers from 10 to 1 in reverse order.

In [14]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

Question no 4:Iterate through a list of integers and print only the numbers that are divisible by 3.

In [2]:
integers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for integers in integers:
    if integers %3==0:
        print(integers)

3
6
9
12
15
18

Question no 5:Write a loop that prints the squares of numbers from 1 to 10.

In [3]:
numbers = [1, 2, 3, 4, 5,6,7,8,9,10]
for num in numbers:
    squared = num ** 2
    print(f"{num} squared is {squared}")

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25
6 squared is 36
7 squared is 49
8 squared is 64
9 squared is 81
10 squared is 100

Question no 6:Given a list of temperatures in Celsius, use a for loop to convert each to Fahrenheit.

In [17]:
celsius_temperature=[10,30,40,50,100]
fahrenheit_temperature=[]
for celsius in celsius_temperature:
    fahrenheit_temperature=(celsius*9/5)+32
    print(fahrenheit_temperature)

50.0
86.0
104.0
122.0
212.0

Qustion no 7:Create a for loop that prints the multiplication table of 5.

In [22]:
numbers=5
for i in range(1,11):
    print(f"{numbers}*{i}={numbers*i}")

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

Question no 8:Write a program to find the sum of all numbers in a list using a for loop.

In [31]:
numbers=[1,2,3,4,5,6,7]
total_sum=0
for numbers in numbers:
    total_sum+=numbers
    print("The sum of the numbers is:",total_sum)

The sum of the numbers is: 1
The sum of the numbers is: 3
The sum of the numbers is: 6
The sum of the numbers is: 10
The sum of the numbers is: 15
The sum of the numbers is: 21
The sum of the numbers is: 28

Question no 9:Use a for loop to iterate through a string and print each character separately.

In [32]:
string="Hello,world!"
for char in string:
    print(char)

H
e
l
l
o
,
w
o
r
l
d
!

Question no 10:Create a list of words and use a for loop to print only the words with more than 5 letters.

In [ ]:
words=["apple","banana","kiwi","orange"]
for words in words:
    if len(word